flows/Create_Service_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign Values To ServiceCase Record Variable</description>
        <name>Assign_Values_To_Case_Record</name>
        <label>Assign Values To Case Record</label>
        <locationX>365</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Case</targetReference>
        </connector>
    </assignments>
    <description>This is a reusable flow that facilitates the creation of ServiceCase (Record Type on Case Entity).</description>
    <interviewLabel>Create Service Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Service Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new Service Case</description>
        <name>Create_Service_Case</name>
        <label>Create Service Case</label>
        <locationX>525</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve the New Case Number, Created Date and Description fields.</description>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>684</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>NewCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the ServiceCase Record Type Id</description>
        <name>Get_ServiceCase_Record_Type_Id</name>
        <label>Get ServiceCase Record Type Id</label>
        <locationX>208</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_To_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceCase</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_ServiceCase_Record_Type_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
