flows/Get_Required_Record_Type_ID.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Store Appeal Care Request Record Type Id</description>
        <name>Assign_Appeal_Care_Request_Record_Type</name>
        <label>Assign Appeal Care Request Record Type</label>
        <locationX>643</locationX>
        <locationY>78</locationY>
        <assignmentItems>
            <assignToReference>AppealCareRequestRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentLoopRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Appeal Case Request Record Type Id</description>
        <name>Assign_Appeal_Case_Request_Record_Type</name>
        <label>Assign Appeal Case Request Record Type</label>
        <locationX>645</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>AppealCaseRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentLoopRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Drug Request Record Type Id</description>
        <name>Assign_Drug_Request_Record_Type</name>
        <label>Assign Drug Request Record Type</label>
        <locationX>642</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>DrugRequestRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentLoopRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Service Request Record Type Id</description>
        <name>Assign_Service_Request_Record_Type</name>
        <label>Assign Service Request Record Type</label>
        <locationX>642</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>ServiceRequestRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentLoopRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set a flag to indicate the Record Type assignment is completed.</description>
        <name>Record_Type_IDs_Assignment_Completed</name>
        <label>Record Type IDs Assignment Completed</label>
        <locationX>367</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>IsRecordTypeIDSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypes_Present_Check</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Appeal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Appeal</stringValue>
        </value>
    </constants>
    <constants>
        <name>CareRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CareRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>Case</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <constants>
        <name>DrugRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DrugRequest</stringValue>
        </value>
    </constants>
    <constants>
        <name>ServiceRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ServiceRequest</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check the Record Type to store the Id in the corresponding output variable.</description>
        <name>Record_Type</name>
        <label>Record Type ?</label>
        <locationX>939</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Each_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>ServiceRequest_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoopRecord.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ServiceRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLoopRecord.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Request_Record_Type</targetReference>
            </connector>
            <label>ServiceRequest</label>
        </rules>
        <rules>
            <name>DrugRequest_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoopRecord.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DrugRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLoopRecord.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Drug_Request_Record_Type</targetReference>
            </connector>
            <label>DrugRequest</label>
        </rules>
        <rules>
            <name>AppealCase_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoopRecord.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Appeal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLoopRecord.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appeal_Case_Request_Record_Type</targetReference>
            </connector>
            <label>Appeal Case</label>
        </rules>
        <rules>
            <name>AppealCareRequest_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoopRecord.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Appeal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentLoopRecord.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CareRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appeal_Care_Request_Record_Type</targetReference>
            </connector>
            <label>Appeal Care Request</label>
        </rules>
    </decisions>
    <description>This flow retrieves all the required Record Type ID&apos;s for creating an Appeal Case based on an existing PreAuthorization Case. This is an autolaunched flow and is called by another flow and doesn&apos;t need user interaction.

ServiceRequest Case Record Type Id
DrugRequest Case Record Type Id
Appeal Case Record Type Id
AppealCareRequest Record Type Id</description>
    <formulas>
        <name>RecordTypes_Present_Check</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!ServiceRequestRecordTypeId}=&quot;&quot;, {!DrugRequestRecordTypeId}=&quot;&quot;, {!AppealCaseRecordTypeId}=&quot;&quot;, {!AppealCareRequestRecordTypeId}=&quot;&quot;), false, true)</expression>
    </formulas>
    <interviewLabel>Get Record Type IDs {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Required Record Type ID</label>
    <loops>
        <description>Loop through each Record Type Id and assign the Id to output variables.</description>
        <name>Loop_Through_Each_Record_Type</name>
        <label>Loop Through Each Record Type</label>
        <locationX>366</locationX>
        <locationY>294</locationY>
        <assignNextValueToReference>CurrentLoopRecord</assignNextValueToReference>
        <collectionReference>RecordTypeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_Type_IDs_Assignment_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves RecordType ID&apos;s based on the inputs provided. If a different naming convention is followed in the org for the record types, this is the place to update. Just change the input value of the DeveloperName field.</description>
        <name>Get_Required_Record_Type_IDs</name>
        <label>Get Required Record Type IDs</label>
        <locationX>190</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Each_Record_Type</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND (4 OR 5)</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DrugRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appeal</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareRequest</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>SobjectType</queriedFields>
    </recordLookups>
    <startElementReference>Get_Required_Record_Type_IDs</startElementReference>
    <status>Active</status>
    <variables>
        <name>AppealCareRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AppealCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>DrugRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsRecordTypeIDSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ServiceRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
